.containerCart{
    width: fit-content;
    background-image: linear-gradient(to right,rgb(241, 241, 241),rgb(228, 227, 227));
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 50px;
    position:relative;
    
}

.link{
    text-decoration: none;
    font-size: 14px;
    color: salmon;
}

.link:hover{
    color:rgb(252, 179, 170);
}

.botonBorrar{
    border:none;
    background-color:transparent;
    color: none;
    cursor: pointer;
}

p{
    margin: 0;
    padding: 0 15px;
}

.total{
    padding-top: 16px;
    font-size: 24px;
}

.contenedorBoton1{
    display: flex;
    justify-content: right;
}

.boton1{
    border: none;   
    background-color: transparent;
    padding-top: 10px;
    padding-left: 0;
    font-size: 18px;
    color: salmon;
    cursor: pointer;
    
}

.modal{
    width: 150%;
    height: 150%;
    background-image: linear-gradient(to right,rgb(241, 241, 241),rgb(228, 227, 227));
    border-radius: 10px;
    position: absolute;
    left: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    
}

.modalFinal{
    position: absolute;
    top:20vh;
    left:20vw;
    height: 80px;
    width: 500px;
    background-color: rgba(250, 128, 114, 0.644);
    font-size: 18px;
    
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.formError{
    height: 20px;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 10px;
    color: salmon;
}