@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.itemContainer{
    height: 250px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgb(231, 231, 231);
    
}

.itemPicture{
    height: 70%;
    width: 100%;    
}

.itemPicture > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px 3px 0px 0px;
}

.boxDetalles{
    height: 30%;    
    background-color: rgba(250, 128, 114, 0.185);
    display: flex;
    flex-direction: column;
}

.itemTitle{
    height: 33%;
    padding-left: 5px;
    padding-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}

.itemPrice{
    height: 33%;
    padding-left: 5px;
    font-size: 14px;
    color: rgba(250, 128, 114, 0.555);
}

.itemDetalles{
    height: 33%;
    margin: 0 auto;
}

.itemDetalles__button{
    border-radius: 3px;
    border:0;
    background-color: rgba(250, 128, 114, 0.555);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.itemDetalles__button:hover{
    background-color: rgba(250, 128, 114, 0.301);
    cursor: pointer;
}