nav{
    display: flex;
    
    align-content: center;
    background-image: linear-gradient(rgb(184, 179, 179),rgb(165, 136, 136));
}

#tituloGovinda{
    color: white;
}

#tituloBienvenida{
    color: white;
}


.containerLogo{

    height: 60px;
    width: 60px;
    display: flex;
    justify-content:left;
    padding: 0 3%;
    align-self: center;
    
}

h1{
    width: 50%;
}

.containerLinks{
    
    width: 40%;
    display: flex;
    justify-content:right;
    align-items: center;
}
a{
    padding-right: 21px;
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}